# Google service account credentials for using BigQuery
# GOOGLE_APPLICATION_CREDENTIALS="path-to/hase-25-project-google-service-account.json"

# At least one GitHub token is required
# Providingn more tokens allows to increase rate limits :)
GITHUB_TOKEN_1="your-github-token"
# GITHUB_TOKEN_2="another-your-github-token"
# GITHUB_TOKEN_3="another-your-github-token"
# ... you can add as many tokens as you want,
# just make sure numbering is continuous
